{% load bootstrap4 %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de aprendizaje</title>

    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}

</head>

<body>
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
    <h2><a class="navbar-brand" href="{% url 'learning_logs:index' %}"> Learning Log </a></h2>

    <button class="navbar-toggler" type="button" data-toggle="collapse"
      data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto border-bottom">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'learning_logs:topics' %}"> Topics </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'learning_logs:ListBooks' %}">Books</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="navbar-item pr-2">
              <span class="navbar-text">Hello,{{ user.username }}</span> 
            </li>
            {% if user.profile  %}
              {% if user.profile.rol == 'admin' %}
                <li class="navbar-item pr-2 ">
                  <a class="btn btn-outline-secondary" href="{% url 'users:profile-creation' %}">Crear perfil</a>
                  
                  <a class="btn btn-outline-primary" href="{% url 'users:profile-detail' user.profile.pk %}">Ver perfil</a>
                </li>
                <li class="nav-item pt-2">
                  <a class="navbar-link" href="{% url 'users:logout' %}">Log out</a>
                </li>
              {% elif user.profile.rol == 'user' %}
                <li class="navbar-item pr-2">
                  <a class="btn btn-outline-primary" href="{% url 'users:profile-detail' user.profile.pk %}">Ver perfil</a>
                </li>
                <li class="nav-item pt-2">
                  <a class="navbar-link" href="{% url 'users:logout' %}">Log out</a>
                </li>
              {% endif %}
            {% else %}
              <li class="navbar-item pr-2">
                <a class="btn btn-primary" href="{% url 'users:profile-creation' %}">Crear perfil</a>
              </li>
              <li class="nav-item pt-2">
                <a class="navbar-link" href="{% url 'users:logout' %}">Log out</a>
              </li>
            {% endif %}
          {% else %}
            <li class="navbar-item pr-3">
              <a class="navbar-link" href="{% url 'users:register' %}">Register</a>
            </li>
            <li class="navbar-item">
              <a class="navbar-link" href="{% url 'users:login' %}">Login</a>
            </li>
          {% endif %}
        </ul> 
      </div>
    </div>
  </nav>
  <main role="main" class="container"> 
    <div class="pb-2 mb-2 mr-4 border-bottom"> <!-- For Titles -->
      {% block page_header %} {% endblock page_header %}
    </div>
    <div >
      {% block content %} {% endblock content %}
    </div>
  </main>

</body>

</html>
